trusted-dependencies=@nestjs/core
trusted-dependencies=@prisma/client
trusted-dependencies=@prisma/engines
trusted-dependencies=@tailwindcss/oxide
trusted-dependencies=bcrypt
trusted-dependencies=esbuild
trusted-dependencies=msgpackr-extract
trusted-dependencies=prisma
trusted-dependencies=sharp
trusted-dependencies=unrs-resolver
